<html>
    <head>
        <title>Django Men blog</title>
    </head>
    <body>
        <div>
            <h1><a href="http://www.wordreference.com/enit/limescale">Django Men Blog</a></h1>
            <p>picco</p>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h3><a href="">{{ post.title }}</a></h3>
                <p>{{ post.text|linebreaks }}</p>
            </div>
        {% endfor %}
    </body>
</html>